.gradient {
	background: rgb(253,164,126);
	background: linear-gradient(25deg, rgba(253,164,126,1) 40%, rgba(242,239,219,1) 100%);
}
.v-container__background {
        background-image: url("../src/assets/background1.png") !important;
        background-repeat: repeat;
    }